# Compiled files
*.class
target/

# IDE files
.idea/
*.iml
*.iws
*.ipr
.mvn/
mvnw
mvnw.cmd

# Logs
*.log

# Database
*.db
*.h2.db

# OS files
.DS_Store
Thumbs.db

# Application properties with secrets
application-secret.properties